# ==============================================================================
# SYSTEM & TOOL CACHES / APPLICATION DATA
# ==============================================================================

.cache/*
.cargo/*
.local/state/*
.local/share/*
.rustup/*
.steam/*
.npm/*


# ==============================================================================
# USER & WORKSPACE DIRECTORIES
# ==============================================================================

go/*
documents/*
external/*
music/*
pictures/*
videos/*
private/*
public/*
templates/*
world/*
