[user]
    name = Simone Gentili
    email = gensimone.git@gmail.com

[alias]
    a = add
    c = commit
    d = diff
    l = log
    lg = log
    s = status
    r = restore
    count = rev-list --all --count
    undo = reset HEAD~
    unstage = reset HEAD --

[init]
    defaultBranch = main

[core]
    editor = vim

[advice]
    addIgnoredFile = false
