[user]
	name = Simone Gentili
	email = gensimone.git@gmail.com
[alias]
	a = add
	c = commit
	count = rev-list --all --count
	d = diff
	l = log
	lg = log
	s = status
	undo = reset HEAD~
	unstage = reset HEAD --
        r = restore
[init]
	defaultBranch = main
[core]
	editor = nvim
[advice]
	addIgnoredFile = false
